header {
	width: 100%;
	background-color: #2c2c2c;
	padding: 15px 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.header-left,
.header-center,
.header-right {
	flex: 1;
}

.header-center {
	text-align: center;
}

header h1 {
	margin: 0;
	font-size: 1.5rem;
	color: #ffffff;
}

.back-button {
	padding: 10px 20px;
	background-color: #007acc;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.back-button:hover {
	background-color: #005fa3;
}

body {
	background-color: #1e1e1e;
	color: #ffffff;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

input,
select {
	padding: 12px 24px;
	margin: 10px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 6px;
	background-color: #3a3a3a;
	color: #ffffff;
	transition: background-color 0.2s ease;
}

select {
	min-width: 280px;
}

label,
button {
	margin: 10px 0;
	font-size: 1rem;
}

select,
input {
	padding: 6px;
	border-radius: 5px;
	border: none;
}

button {
	padding: 10px 20px;
	background-color: #007acc;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #005fa3;
}

.form-container {
	background-color: #2c2c2c;
	padding: 20px 30px;
	border-radius: 8px;
	box-shadow: 0 0 10px #000;
}

.page-wrapper {
	display: flex;
	justify-content: space-between;
	width: 90%;
	max-width: 1200px;
}

.left-section {
	flex: 1;
	max-width: 400px;
}

#ramaisContainer {
	flex: 1;
	margin-left: 40px;
	display: none;
	background: #2c2c2c;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px #000;
	max-height: 400px;
	overflow-y: auto;
	min-width: 250px;
}

#ramaisContainer h3 {
	margin-top: 0;
	font-size: 1.2rem;
}

#ramaisList {
	list-style: none;
	padding: 0;
	margin: 0;
}

#ramaisList li {
	padding: 4px 0;
	border-bottom: 1px solid #444;
	font-size: 0.95rem;
}

#ramalControls {
	margin-top: 30px;
}

#ramalControls input {
	width: 100%;
	margin-bottom: 10px;
}

#createButton {
	padding: 10px 20px;
	background-color: #007acc;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#createButton:hover {
	background-color: #005fa3;
}

#createButton:disabled {
	padding: 10px 20px;
	background-color: #05385c;
	color: #929292;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}